#slider{
    height: 100%;
    width: 100%;
}
.slider{
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 300px;
}

.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    color: black;
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slider .previous {
    color: black;
    left: 0;
    border-radius: 3px 0 0 3px;
}


.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
    
}
.info{
    position: absolute;
    top: 103px;
    left: 100px;
}
@keyframes fade {
    from {
        transform: scale(1);
        opacity: 0.4
    }
    to {
        transform: scale(1.03);
        opacity: 1
    }
}
main #category .cover .product .cardd-header 
{
overflow: hidden;
}
main #category .cover .product .cardd-header img
{
width: 100%;
height: 100%;
transition: 0.4s;
}

main #category .cover .product .cardd-header img:hover
{
transform: scale(1.06);
}



main{
    #about{
        margin-bottom: 8rem;
    }
    
    #category{
        margin-bottom: 5rem;
        .filters{
            display: flex;
            justify-content: space-between;
            .filter{
                position: relative;
                &:hover{
                    .sort{
                        display: flex;
                    }
                }
                .sort{
                    display: none;
                    position: absolute;
                    right: 10px;
                    background-color: white;
                    width: 400px;
                    ul{
                        list-style: none;
                        li{
                            margin-bottom: 5px;
                        }
                    }
                }
            }
            .filter-flower{
                width: 50%;
                
                ul{
                    
                    list-style: none;
                    display: flex;
                    justify-content: space-evenly;
                    margin-left: -22px;
                    padding-left: 0px;
                    li{
                        margin: 0px;
                        padding: 0px;
                        a{
                            
                          font-family: Montserrat,sans-serif;
                          font-size: 13px;
                          font-weight: 400;
                          text-decoration: none;
                          color: #1b1b1b;
                          transition: 0.2s;
                          &:hover{
                              color: orange;
                          } 

                        }
                    }
                }
            }
        }
        .cover{
            transition: 0.4s;
           .mycard{
               transform: 0.4s;
               &:hover{
                .card-body{
                    text-align: center;
                 
                    .price-cards{
                      
                        .price{
                      
                        transform: translateX(33px);
                        opacity: 0;
                        
                         
                        }
                        .add{
                            opacity: 1;
                            transform: translateX(10px);
                        }
                    }
                }

            }
           }
            .card-body{
                text-align: center;
                .name{
                    
                    font-size: 13px;
                }
                .price-cards{
                    display: flex;
                    justify-content: center;
                    .price{
                        color: #757575;
                    font-size: 13px;
                    transform: translateX(-33px);
                    transition: 0.4s;
                    
                     
                    }
                    .add{
                        color: #757575;
                        font-size: 13px;
                        transform: translateX(-50px);
                        opacity: 0;
                        transition: 0.3s;
                    }
                }
            }
        }
    }

    #Valentine{
        
        background-color: #F7F7F7;
        
        .valentine{
            padding: 9rem 3rem;
            .valentinewords{
                margin-top: 1rem ;

                p{
                    color: #757575;
                    font-size: 16px;
                   
                    
                
                }
                .bottom-words{
                    i{
                        color: red;
                        margin-right: 10px;
                    }
                    span{
                        color: #757575;
                    }
                }
                
            }
            display: flex;
            justify-content: space-around;
            .video{
                transition: 1s;
                position: relative;
                overflow: hidden;
                img{
                    transition: 1s;
                    width: 90%;
                }
                &:hover{
                    img{
                        transform: scale(1.06);
                    }
                }
                i{
                    position: absolute;
                    right: 50%;
                    top: 43%;
                    font-size: 90px;
                    color: white;
                    background-color: red;
                    border-radius: 50%;
                }
            }
        }
    }
    #FLowerExpert{
        
        .expert{
            text-align: center;
            margin-top: 11rem ;
        }
        p{
            color: #757575;
        }
    }

    .imgs-texts{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    
    #join-bunch{
        background-image: url(../image/back.jpg);
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
        .join{
            img{
             background-image: url(/image/back.jpg);
             width: 100%;
             height: 95vh;
             background-position: center;
             background-attachment: fixed;
             position: relative
            }
         }
        .bunch{
            position: relative;
        }
        .text-img{
            position: absolute;
            text-align: center;
            left: 0px;
            right: 0px;
            top: 15em;
        }


        .input-group{
            width: 500px;
            display: inline-flex;
            input{
                padding: 14px 20px;
            }
        }
        
        }

        #fromourblog{
           
            .container{
                .blogimg{
                    .row{
                        .col{
                            .blogcard{
                                position: relative;

                                .cardimage{
                                    overflow: hidden;
                                   img{
                                       transition: 0.3s linear;
                                       transform: scale(1);
                                    &:hover{
                                        transform:scale(1.06);
                                        
                                    }
                                   }
                                }
                               
                                .dateTime{
                                    background-color: white;
                                    position: absolute;
                                    top: 20px;
                                    left: 20px;
                                    width: 112px;
                                    height: 30px;
                                    z-index: 5;
                                    text-align: center;
                                    span{font-size: 13px;
                                        letter-spacing: 2px;}
                                }
                            }
                        }
                        
                    }
                }
            }
        }
#mycarusel{
    height: 500px;
    margin-top: 5rem;
   .mycarusel{
       width: 50%;
       transform: translateX(650px);
       margin-top: 5rem;
    .img{
        img{
            width: 100px;   
        }
    }
    .text-center{
        margin: 2rem 0rem;
        transform: translateX(-270px);
    }
   }
}
    
    }


    footer{
        background-color: #FFFAF3;
        #footer{
            padding: 5rem;
            ul{
                list-style: none;
                li{
                    
                    a{
                        text-decoration: none;
                        font-size: 13px;
                        color: #757575;
                    }
                }
                margin-bottom: 1rem;
            }
            .footer-top{
                border-bottom: 1px solid #757575;
            }
            .footer-bottom{
                padding: 2rem;

            }
        }
    }


    main{
        #product-list{
            .container{
                .row{
                    .product{
                        h1{
                            color: black;
                        }
                        background-color: #FAFAF9;
                        padding: 55px;
                        p{
                            color: rgb(149, 146, 143);
                        }
                    }
                }
            }
        }

        #orange{
            .container{
                .row{
                    .all{
                        
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        display: flex;
                        
                        
                        
                        .oranges{
                            img{
                                position: relative;
                                display: block;
                                border: none;
                                width: 110px;
                        margin: 0;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        margin-inline-start: 40px;
                        margin-inline-end: 40px;
                        font-family: Montserrat,sans-serif;

                              
                            }
                        }
                        .oranges2{
                            position: relative;
                            width: 100%;
                            display: block;
                            width: 100%;
                        margin: 0;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        margin-inline-start:  40px;
                        margin-inline-end: 40px;
                        font-family: Montserrat,sans-serif;
                        }

                        .amaryliss{
                            margin-top: 20px;
                            

                        }
                    }
                }
            }
        }
    }


   main{
       #accordion{
           .container{
               .row{
                   .accordion5{
                       margin-top: 150px;
                       display: flex;

                       .accordion2{
                           width: 100%;
                       }
                       .accordion3{
                           width: 100%;
                       }
                       
                   }
               }

           }
       }

   }


   main{
       .tab-tab{
           width: 100%;
           height: 200px;
           background-color: rgba(243, 243, 243, 0.972);
           h1{
            padding: 75px 50px;
            font-family: "Playfair Display",serif;
            font-size: 50px;
           
           }
       }
       #tabmenu{
           .tabs{
               margin-top: 75px;
               display: flex;
               .tab1{
                   margin: 40px;
                   
               }
               .tab2{
                   margin: 40px;
               }
           }

       }

       #tabmenu2{
           margin-top: 200px;
           .taball{
               
               margin: 40px;
           }
       }

       #tabmenu3{
        margin-top: 200px;
           .tab3{
              
               margin: 40px;
           }
       }
   }

   main{
       .shoplist{
           #category{
               margin-top: 120px;
           }

       }
   }

   main{
       #bar{

        margin-top: 60px;
        margin-bottom: 250px;
           
        

        #Progress_Status {
            width: 550px;
            background-color: #757575;
            height: 4px
            }
            
            #myprogressBar,#myprogressBar2,#myprogressBar3,#myprogressBar4,#myprogressBar5,#myprogressBar6,#myprogressBar7{
            width: 1%;
            height: 4px;
            background-color: #F44F3F;
            text-align: center;
            line-height: 32px;
            color: black;
            margin-top: 40px;
            }
            

       }

       #bar2{
           margin-top: 250px;

        #Progress_Status {
            width: 100%;
            background-color: #757575;
            height: 4px
            }
            
            #myprogressBar8,#myprogressBar9,#myprogressBar10{
            width: 1%;
            height: 4px;
            background-color: #F44F3F;
            text-align: center;
            line-height: 32px;
            color: black;
            margin-top: 40px;
            }
            

       }

       #tabmenu{
           .nav-item{
               li{
                   button{
                       &:hover{
                           background-color: #F44F3F;
                       }
                   }
               }
           }
       }
   }


   main{
       #tabmenu{
           .tabs{
               #myTabContent{
                font-family: Lora,serif;
               }
               #profile{
                font-family: Lora,serif;
               }
               .contact{
                font-family: Lora,serif;
               }
           }
        

       }

       #tabmenu2{
           .taball{
               #nav-home{
                font-family: Lora,serif;
               }
               #nav-profile{
                font-family: Lora,serif;
               }
               #nav-contact{
                font-family: Lora,serif;
               }

           }
       }

       #tabmenu3{
           .tab3{
               #v-pills-home{
                font-family: Lora,serif;
               }
               #v-pills-profile{
                font-family: Lora,serif;
               }
               #v-pills-messages{
                font-family: Lora,serif;
               }

           }
       }
   }

   main{
       #slider{
           .info{
               .title{
                  
                      @media screen and(max-width:700px)
                      {
                          h3{
                              font-family: 20px;
                          }
                      }
                      @media screen and(max-width:400px)
                      {
                          h3{
                              font-family: 16px;
                          }
                      }
                      @media screen and(max-width:700px)
                      {
                          h3{
                              font-family: 12px;
                          }
                      }
                   
               }
           }
       }
   }


  
   




   



     




            
            

        
    
    
